{
  "name": "karma-app",
  "version": "0.0.1",
  "description": "minimum karma test",
  "main": "build.js",
  "repository": {
    "type": "git",
    "url": "//github.com/kobabasu/micro-karma.git"
  },
  "keywords": [
    "es6",
    "babel",
    "karma",
    "jasmine",
    "test"
  ],
  "os": [
    "darwin",
    "linux",
    "!win32"
  ],
  "dependencies": {
    "react-addons": "*"
  },
  "devDependencies": {
  },
  "browser": {
  },
  "browserify": [ "js", "jsx" ],
  "eslintConfig": {
    "parser": "babel-eslint"
  },
  "scripts": {
    "preinstall": "npm install -g babel browserify karma",
    "start": "NODE_ENV=production",
    "babel": "babel ./src --out-dir ./spec",
    "browserify": "browserify -d --compact false ./spec/*.js > ./dist/build.js",
    "karma": "karma start karma.conf.js",
    "test": "npm run babel; npm run browserify; npm run karma"
  },
  "preferGlobal": true,
  "author": "kobabasu",
  "license": "MIT"
}
